*{
	margin: 0;
	padding: 0;
	box-sizing;
border-box;
font-family: 'Roboto', sans-serif;}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .aboutimg{
  	width: 1375;
  	height: 400px;
    align: center;
  }
  

h1{
    margin-bottom: 40px;
}
label {
    color: #333;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

